/* Background and Body */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-image: url('/static/blog/backgroundmain.png'); /* Adaugă o imagine de fundal tematică */
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

/* Navbar */
.navbar {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-brand img {
    margin-right: 10px;
}

.navbar .form-control {
    border-radius: 20px;
}

/* Footer */
footer {
    background-color: #333;
    color: #f4f8fb;
}

/* Blog Card */
.card {
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.card:hover {
    transform: translateY(-5px);
    transition: 0.3s ease-in-out;
}
