/* Background and Body */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    /* background image */
    background-image: url('https://images.unsplash.com/photo-1506748686214-e9df14d4d9d0');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;


    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
}

/* Navbar */
.navbar {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-brand img {
    margin-right: 10px;
}

.navbar .form-control {
    border-radius: 20px;
}

/* Footer */
footer {
    background-color: #333;
    color: #f4f8fb;
    text-align: center;
    padding: 15px 0;
    box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1);
}

/* Blog Card */
.card {
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.card:hover {
    transform: translateY(-5px);
    transition: 0.3s ease-in-out;
}

/* Titlu principal */
.title-stylish {
    font-family: 'Poppins', sans-serif;
    color: #dcdcdc; /* Albastru marin */
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    animation: fadeIn 2s ease-in-out;
}

/* Subtitlu */
.title-stylish + p {
    font-family: 'Open Sans', sans-serif;
}

/* Animație pentru titlu */
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}







